body {
    margin: 0;
    background-color: #1f1e1e;
    color: white;
    transition: 1s;
}

.body-light {
    background-color: #ddd;
    color: #121212;
}



/* Header begins here */
@keyframes dropdown {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px 30px;
    width: 100vw;
    height: 100px;
    background-color: #1f2831;
    border-bottom: 2px solid rgba(240, 240, 240, 0.788);
    position: fixed;
    top: 0;
    left: 0;
    animation-name: dropdown;
    animation-duration: 2s;
    z-index: 10;
}

.header-picture {
    height: 60px;
    width: 60px;
    border: 2px solid white;
    border-radius: 50%;
}

.github {
    filter: invert(100%);
    border: 2px solid black;
}

.dark-mode {
    width: 60px;
    height: 30px;
    border-radius: 10px;
    border: none;
}

.slider {
    height: 26px;
    width: 26px;
    border-radius: 10px;
    transform: translateX(-2px);
    background-color: #1f2831;
    transition: 1s;
}

.slide-right {
    transform: translateX(25px);
}

.header-picture,
.dark-mode:hover,
.slider:hover {
    cursor: pointer;
}
/* Header ends here */



/* About me section begins here */
.about {
    margin: 140px 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 2rem;
}

.description {
    font-size: 1.2rem;
    text-indent: 4%;
}
/* About me section ends here */



/* Projects section begins here */
.projects-h2 {
    display: table;
    margin: 40px auto;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 50px;
    margin: 20px 30px;
}

.project-screenshot {
    width: 240px;
    height: 240px;
    border-radius: 10px;
    opacity: 85%;
    z-index: 1;
}

.project-description {
    width: 240px;
    text-align: center;
}

@keyframes scaleup {
    from {
        transform: scale(1.0,1.0);
        opacity: 85%;
    }
    to {
        transform: scale(1.1, 1.1);
        opacity: 65%;
    }
}

.project-screenshot:hover {
    cursor: pointer;
    animation-name: scaleup;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
}
/* Projects section ends here */